.jumbotron {
   position: relative;
   padding: 0;
   overflow: hidden;
}

.jumbotron img {
   width: 100%;
   height: auto;
}

.text-container {
   position: absolute;
   top: 50%;
   left: 50%;

   transform: translate(-50%, -50%);
   z-index: 1;
   max-height: 90%;

   max-width: 80%; /* Set a maximum width for the text container */
   text-align: center; /* Center-align the text within the container */
}

.text-container h1 {
   font-size: 5rem;
   font-weight: bold;
   margin-bottom: 20px;
}

.text-container p {
   font-size: 1.8rem;
   font-style: italic;
}

#movie-form {
   margin-top: 20px;
}

* {
   scroll-padding-top: 220px;
}

/* Custom styling for Navigation bar */
.custom-nav {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 100;
   background: #2e2d2d;
   color: #ffffff;
   box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.navbar-name {
   text-transform: uppercase;
   font-weight: bolder;
   font-size: xx-large;
   letter-spacing: 5px;
}

.container-fluid {
   padding: 0 4rem;
}

.navbar-nav {
   margin-left: auto;
   margin-right: 0 !important;
}

.nav-item {
   padding: 0 2rem;
   display: inline-block;
   font-size: 1rem;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 700;
   transition: color 0.3s;
}

.nav-link {
   color: #333 !important;
}

.nav-link:hover {
   color: #0dcaf0 !important;
}
